body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  display: block;
  position: relative;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 5px 43px rgb(0, 0, 0, 0.2);
}
.box::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 35px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: burlywood;
  box-sizing: border-box;
}
